<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header(${'Login Page'})">
    <style>
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>
<main>
    <div class="center-block">
        <div class="status-container">
            <h2>Reset Password Status</h2>
            <div th:if="${status eq 'error'}" th:style="'color: red;'">
                <p th:text="${message}"></p>
            </div>
            <div th:if="${status eq 'success'}" th:style="'color: green;'">
                <p>Password reset successfully. Please <b><a href="/login">Login</a></b> with your new password.</p>
            </div>
        </div>
    </div>
</main>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>